.header {
  @include row;

  padding: 13px 130px;
  width: 98%;
  margin: 0 auto;
  position: sticky;
  background: #ffffffb3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  top: 0;
  z-index: 600;
  align-items: center;
  justify-content: space-between;

  .header_leftSide,
  .header_rightSide {
    @include row;
  }

  .header_leftSide {
    gap: 100px;
    width: 90%;

    .leftSide_Logo {
      width: 42px;
      padding-bottom: 5px;
    }

    .leftSide_buttonCon {
      display: flex;
      width: 70%;
      justify-content: space-between;

      .buttonCon_link {
        position: relative;
        display: inline-block;

        font-family: "Montserrat", sans-serif;
        color: #444650;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          left: -10px;
          right: -10px;
          bottom: -3px;
          height: 1px;
          background-color: #99a2ad;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .header_rightSide {
    gap: 30px;
    display: flex;

    .rightSide_LinkCon {
      @include row;
      gap: 5px;

      .Linkcon_adress {
        font-size: 16px;
        font-weight: 600;
        color: #444650;

        &:hover {
          text-decoration: underline;
          color: #5b5d67;
        }
      }
    }

    .rightSide_Contact {
      background: $button-color;
      padding: 10px 19px;
      white-space: nowrap;
      color: #ffffff;
      font-size: 16px;
      border-radius: 5px;
      font-weight: 500;
      padding: 10px 19px;
      transition: all;
      transition-duration: 200ms;

      &:hover {
        scale: 105%;
        background-color: #327be1;
      }
    }
  }
}
@media (max-width: 1440px) {
  .header {
    padding: 13px 100px;
    .header_leftSide {
      gap: 50px;
    }
    .header_rightSide {
      .rightSide_Contact {
        padding: 6px 15px;
      }
    }
  }
}
@media (max-width: 1040px) {
  .header {
    padding: 13px 50px;
    .header_leftSide {
      gap: 20px;

      .leftSide_buttonCon {
        width: 80%;
        .buttonCon_link {
          font-size: 18px;
        }
      }
    }
    .header_rightSide {
      .rightSide_Contact {
        padding: 3px 10px;
      }
      .rightSide_LinkCon {
        .Linkcon_adress {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;

    padding: 20px 20px;
    align-items: center;

    .header_leftSide {
      align-items: center;
      justify-content: center;
      gap: 20px;
      .leftSide_Logo {
        display: none;
      }
      .leftSide_buttonCon {
        width: 80%;
        display: flex;

        .buttonCon_link {
          font-size: 14px;
        }
      }
    }
    .header_rightSide {
      .rightSide_Contact {
        padding: 3px 10px;
      }
      .rightSide_LinkCon {
        display: none;
        .Linkcon_adress {
          font-size: 14px;
        }
      }
    }
  }
  .header_rightSide {
    .rightSide_Contact {
      display: none;
    }
  }
}
