services:
  web:
    build:
      context: frontend
    ports:
      - 80:80
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      args:
        FASTAPI_PORT: ${FASTAPI_PORT:-8080}
    env_file:
      - ./.env
    ports:
      - "${FASTAPI_PORT}:${FASTAPI_PORT}"
    volumes:
      - ./backend:/app
