services:
  web:
    build:
      context: frontend
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./data/caddy:/data/caddy

  backend:
    build:
      context: ./backend
      args:
        FASTAPI_PORT: ${FASTAPI_PORT:-8000}
    env_file:
      - ./.env
    ports:
      - "${FASTAPI_PORT}:${FASTAPI_PORT}"
    volumes:
      - ./backend:/app
