/* reset.scss */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

p,
span,
h1,
a,
input {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  color: #292929;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
*::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #999999;
  cursor: pointer;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scroll {
  overflow-y: auto;
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: auto;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
