.projects_container {
  display: flex;
  width: 100%;
  height: 90%;
  gap: 35px;

  .container_card {
    @include column;
    width: 50%;

    border-radius: 15px;
    padding: 10px;
    background: #fafcff;
    border: 1px $primary-color solid;

    .card_topSide {
      object-fit: contain;

      width: 100%;
      height: 180px;
      border-radius: 10px;
      overflow: hidden;
    }

    .card_cardInfo {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 15px;
      gap: 35px;
      .cardInfo_textCon {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        width: 100%;

        .textCon_mainText {
          font-size: 25px;
          color: #292929;
        }
        .textCon_discription {
          font-size: 18px;
          color: #292929;
          width: 100%;
        }
      }
    }

    .cardInfo_bottomSide {
      display: flex;
      align-items: center;
      justify-content: center;
      .bottomSide_btn {
        padding: 10px 30px;
        font-size: 18px;
        background: $button-color;
        color: #fafcff;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .projects_container {
    height: 30%;
    .container_card {
      .card_topSide {
        height: 290px;
      }
      .card_cardInfo {
        .cardInfo_textCon {
          grid-template-rows: 0.5fr 0.5fr;
          .textCon_mainText {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .projects_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container_card {
      width: 75%;
      height: 50%;
      .card_cardInfo {
        .cardInfo_textCon {
          gap: 25px;
          display: flex;
          flex-direction: column;
          .textCon_mainText {
            font-size: 25px;
            text-align: center;
          }
          .textCon_discription {
            font-size: 18px;
            text-align: center;
          }
        }

        .cardInfo_bottomSide {
          display: flex;
          align-items: center;
          justify-content: center;

          .bottomSide_btn {
            color: white;
            font-size: 24px;
            padding: 10px 15px;
            border-radius: 10px;
            white-space: nowrap;
            background: $button-color;
            transition: all;
            transition-duration: 200ms;

            &:hover {
              scale: 102%;
              background: $buttonHover-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .projects_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container_card {
      width: 75%;
      height: 50%;
      .card_cardInfo {
        .cardInfo_textCon {
          gap: 25px;
          display: flex;
          flex-direction: column;
          .textCon_mainText {
            font-size: 25px;
            text-align: center;
          }
          .textCon_discription {
            font-size: 18px;
            text-align: center;
          }
        }

        .cardInfo_bottomSide {
          display: flex;
          align-items: center;
          justify-content: center;

          .bottomSide_btn {
            color: white;
            font-size: 24px;
            padding: 10px 15px;
            border-radius: 10px;
            white-space: nowrap;
            background: $button-color;
            transition: all;
            transition-duration: 200ms;

            &:hover {
              scale: 102%;
              background: $buttonHover-color;
            }
          }
        }
      }
    }
  }
}
